--- configuring directory /etc/fakepop/ ---

Put all messages that you want fakepop to deliver in /etc/fakepop/ directory

Some filenames are not considered as messages:
  - filenames begining with '.' (hidden files)
  - filenames begining with 'readme' (case insensitive)
  - filenames ending in '~' (backup files)

Check message examples at README.EXAMPLE*

Assure that files under /etc/fakepop can be read by the user that runs
fakepop (usually nobody)

See xinetd/fakepop for an example xinetd configuration.

